# Dependencies
node_modules
.pnpm-store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next
dist
build
coverage
playwright-report
test-results
*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.turbo
.DS_Store
.idea
*.swp

# Prisma
packages/db/prisma/generated
packages/tasks-db/generated
